body
  margin 0
  font-size 14px
  color #373a3c

.wrap
  margin 0 auto
  max-width 800px

.index
  margin 50px 0
  text-align center

.index-info
  margin 0 0 30px
  font-size 16px
  
.index--ipt_box
  margin 0 auto 30px
  max-width 350px
  input
    display block
    margin 0 auto 15px
    text-align center

.ipt-text
  width 100%
  padding .375rem .75rem
  font-size 1rem
  line-height 1.5
  color #55595c
  background-color #fff
  background-image none
  border .0625rem solid #ccc
  border-radius .25rem
  box-sizing border-box
  outline none
  

.btn
  display inline-block
  padding 8px 16px
  font-size 14px
  line-height 1em
  text-align center
  white-space nowrap
  vertical-align middle
  touch-action manipulation
  cursor pointer
  user-select none
  border .0625rem solid transparent
  border-radius .25rem
  text-decoration initial
  outline none

.btn-2nd
  color #373a3c
  background-color #fff
  border-color #ccc
  &:hover
    color #373a3c
    background-color #e6e6e6
    border-color #adadad