
.you_metas_ext.fw-main-item
  padding-top 10px

.you_metas_ext
  border-color #F1EBC2
  background-color #FFFDF1

.you_metas_ext-info
  text-align center

.you_metas_ext-col
  display inline-block
  vertical-align top
  min-width 33%

.you_metas_ext-item
  padding-top 30px