body
  margin 0
  font-size 14px
  color #373a3c

.popup
  width 123px
  padding 20px 25px
  text-align center

.popup-info
  margin 0 0 15px
  text-align center
  font-size 14px
  line-height 1em
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.btn
  display inline-block
  padding 6px 10px
  font-size 12px
  line-height 1em
  text-align center
  white-space nowrap
  vertical-align middle
  touch-action manipulation
  cursor pointer
  user-select none
  border .0625rem solid transparent
  border-radius .25rem
  text-decoration initial
  outline none

.btn-2nd
  color #373a3c
  background-color #fff
  border-color #ccc
  &:hover
    color #373a3c
    background-color #e6e6e6
    border-color #adadad
    


